.logo-header{
    font-size: 3rem;
    
}
.logo-header span{
    color: red;
}


.letra{
    font-family: sans-serif;
    font-weight: 600;
    
}

.titulos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blueviolet;
    border-radius: 5px;
    color: brown;
}

/*nosotros*/
.btn-mvv-h{
    width:5.5rem ;
}


/* FLOTA*/

.img--zise--h{
    width:22rem ;
    height:15rem ;
}

.img--zise--a{
    width: 15rem;
    height:10rem ;
}

.titulosgeneral{
 font-family: sans-serif;
 font-size: x-large;
}

/*SERVICIOS*/

.h-carrusel{
    height: 30vh;
    object-fit: cover;

}


/*CONTACTO*/

.fondo--img{
    background-image: url("./image/contacto/backgroud.jpg");
    background-size: cover;
}


@media (min-width: 768px) { 
    .navbar--activa{
        background-color: gray;
    }
}
